<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Google search">
    <listeners>
        <listener class-name="listeners.CustomListener"/>
        <listener class-name="listeners.RetryListener"/>
    </listeners>
    <parameter name="word" value="${WORDS}"/>
    <test name="Check google search - DE">
        <parameter name="country" value="DE"/>
        <packages>
            <package name="tests.ui_examples"/>
        </packages>
    </test>
    <test name="Check google search - CA">
        <parameter name="country" value="CA"/>
        <packages>
            <package name="tests.ui_examples"/>
        </packages>
        <classes>
            <class name="tests.ui_examples.GoogleSearch">
                <methods>
                    <include name="checkGoogleSearch1"/>
                    <exclude name="checkGoogleSearch2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>