<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="test_suite">
    <groups>
        <run>
            <include name="TestngExample"/>
            <include name="urlValidation"/>
        </run>
    </groups>
    <test name="IT Department">
        <classes>
            <class name="tests.testng.TestngExample"/>
        </classes>
    </test>
</suite>